<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<!--    <meta http-equiv="refresh" content="5">-->
    <title>Employee</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="js/scripts.js"></script> -->
</head>
<body>

<!--search by calender-->
<div style="padding-right: 300px; padding-left: 300px">
  <form action="/search" method=post>
    Search Employee result by Date:
    <input type="date" name="search" value="{{ request.form.search}}">
    <input type="submit">
  </form>
</div>

<!-- DataTables of employees -->
<div style="padding-right: 300px; padding-left: 300px">
  <table id="customers">
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Entry</th>
    <th>Logout</th>
    <th>Interval Time</th>
  </tr>
      {% if current_data %}
        {% for data in current_data %}
        <tr>
          <td>{{ data[0] }}</td>
          <td>{{ data[1] }}</td>
          <td>{{ data[4] }}</td>
          <td>{{ data[5] }}</td>
          <td>{{ data[8] }} </td>
        </tr>
        {% endfor %}
      {% else %}
  </table>
    <h1 style="color: red">Nobody Logged in yet</h1>
    {% endif %}<br>
</div>


</body>
</html>