<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employee</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<!--search by calender-->
<div style="padding-right: 300px; padding-left: 300px">
  <form action="/search" method=post>
    Search Employee result by Date:
    <input type="date" name="search" value="{{ request.form.search }}">
    <input type="submit">
  </form>
<span style="color: violate; font-size:15px;fond-family:bold"><a href="/employee.html">Home</a></span>
</div>

<!-- DataTables of employees -->
<div style="padding-right: 300px; padding-left: 300px">
  <table id="customers">
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Desig</th>
    <th>Dept</th>
    <th>Entry</th>
    <th>Logout</th>
    <th>P_Status</th>
  </tr>
    {% if history %}
      {% for data in history %}
        <tr>
          <td>{{ data[0] }}</td>
          <td>{{ data[1] }}</td>
          <td>{{ data[2] }}</td>
          <td>{{ data[3] }}</td>
          <td>{{ data[4] }}</td>
          <td>{{ data[5] }}</td>
          <td>{{ data[6] }}</td>
        </tr>
      {% endfor %}
    {% else %}

  </table>
  <h1 style="color: red">{{ searchData }} Data Not Available</h1>
    {% endif %}<br>
</div>

</body>
</html>