<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>

<h1>Hello, Python</h1>
<p style="color: green">All Employee list = {employee_name}</p>


<!--<table>-->
  <!--<%-->
  <!--for item in employee_name:-->
    <!--%>-->
    <!--<tr>-->
      <!--<th>Name</th>-->
      <!--<td><%= item %></td>-->
    <!--</tr>-->
    <!--<%-->
  <!--%>-->
<!--</table>-->

<!--<?cas for item in employee_name:?>-->
    <!--<?cas item?>-->

<!--{% for item in employee_name %}-->
    <!--{{ item }}-->
<!--{% endfor %}-->


</body>
</html>