$def with (historical_data)

<title>Home Page</title>


<!-- DataTables Example -->
          <div style="margin:0 auto;width:85%;text-align:left" class="card mb-3">
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">


                  <thead>
                    <tr>
                      <th>Record ID</th>
                      <th>Name</th>
                      <th>Log Date</th>
                      <th>Login</th>
                      <th>Logout</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th>Record ID</th>
                      <th>Name</th>
                      <th>Log Out</th>
                      <th>Login</th>
                      <th>Logout</th>
                    </tr>
                  </tfoot>

                  $for i in historical_data:

                     <tbody>
                          <tr>
                            <td>$i</td>

                          </tr>
                      <tbody>

                </table>
              </div>
            </div>
          </div>







