
{% extends 'index.html' %}

{% block title %}<title>Path Settings</title>{% endblock %}

{% block content %}
<h2 style="color: green;font-family: KacstPen;padding-left: 10%">Path Configure</h2>

<style>
        *,
    *:before,
    *:after {
       box-sizing: border-box;
    }
    form {
      border: 1px solid #2e6917;
      border-radius: 5px;
      font: 14px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
      overflow: hidden;
      width: 540px;
    }
    fieldset {
      border: 0;
      margin: 0;
      padding: 0;
    }
    input {
      border-radius: 5px;
      font: 14px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
      margin: 0;
    }
    .account-info {
      padding: 20px 20px 0 20px;
    }
    .account-info label {
      color: #395870;
      display: block;
      font-weight: bold;
      margin-bottom: 20px;
    }
    .account-info input {
      background: #fff;
      border: 1px solid #c6c7cc;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, .1);
      color: #636466;
      padding: 6px;
      margin-top: 6px;
      width: 100%;
    }
    .account-action {
      background: #f0f0f2;
      border-top: 1px solid #c6c7cc;
      padding: 20px;
    }
    .account-action .btn {
      background: linear-gradient(blue, #1ea911);
      border: 0;
      color: #fff;
      cursor: pointer;
      font-weight: bold;
      float: left;
      padding: 8px 16px;
    }
    .account-action label {
      color: #7c7c80;
      font-size: 12px;
      float: left;
      margin: 10px 0 0 20px;
    }

/* checkbox Text */
    input[type="file"] {
      width: 190px;
      height: 20px;
      padding: 0;
      margin:0;
      vertical-align: bottom;
      position: relative;
      top: -1px;
      *overflow: hidden;
    }
</style>


<form method="post" action="">
  <fieldset class="account-info">

    <label>
    <span>Root folder for customer gallery(images): </span>
      <input type="file" name="customer_gallery_image">
    </label>

      <label>
          <span>Path for SVM face detection model: </span>
          <textarea name='abc' rows=2 cols=50></textarea>
<input type=file name="svm_path" onchange="this.form.abc.value+=';' + this.value; return
true;">

    </label>

      <label>
    <span>Path for CNN face detection model: </span>
      <input type="file" name="cnn_path">
    </label>

      <label>
    <span>Path for face prediction model(general): </span>
      <input type="file" name="general_prediction">
    </label>

      <label>
    <span>Path for face prediction model (recognition): </span>
      <input type="file" name="recognition_prediction">
    </label>

      <label>
    <span>Path for face recognition model: </span>
      <input type="file" name="recognition_model">
    </label>


  </fieldset>



  <fieldset class="account-action">
    <input class="btn" type="submit" name="submit" value="Update">
  </fieldset>
</form>



{% endblock %}



